.signupBody
  .signupHeader
    %a.signupHeader__center{href: "#"}
      %img.twitterlogo{src: "assets/Twitter_Logo_Blue.png", widht: "40px", height: "40px"}
  .signupMain
    %form.signupMain__form
      %p.signupMain__form__instraction アカウントを作成
      .cp_iptxt
        %label.ef
          %input{autocapitalize: "sentences", autocorrect: "on", maxlength: "50", name: "name", placeholder: "名前", spellcheck: "true", type: "text", dir: "auto"}
      .cp_iptxt
        %label.ef
          %input{autocapitalize: "sentences", autocorrect: "on", dir: "auto", name: "phone_number", placeholder: "電話番号", spellcheck: "true", type: "tel", value: ""}
      .cp_iptxt
        %label.ef
          %input{autocapitalize: "sentences", autocorrect: "on", dir: "auto", name: "password", placeholder: "パスワード", spellcheck: "true", type: "password", value: ""}

      .signupMain__form__policy アカウントを作成すると、利用規約、およびCookieの使用を含むプライバシーポリシーに同意したことになります。あなたのメールアドレスや電話番号を連絡先に保存しているTwitterユーザーに通知などが表示されます。プライバシーの設定
      %input.signupMain__form__submits{type: "submit",value: "登録"}/



