.sign-in-body
  .sign-in-left

    .sign-in-left-center-body
      %ul
        %li.sign-in-left-center-body-list あなたの「好き」をフォローしよう。
        %li.sign-in-left-center-body-list 話題のトピックを追いかけましょう。
        %li.sign-in-left-center-body-list Twitterに参加しましょう。

  .sign-in-right

    .sign-in-form
      %form.sign-in-right-top-body-form{action: "#", method: "post"}
        .sign-in-right-top-body-form-mailadress-input
          %input.sign-in-right-top-body-form-mailadress{autocomplete: "username", name: "session[username_or_email]", placeholder: "電話番号/メールアドレス/ユーザー名", type: "text"}/
        .sign-in-right-top-body-form-password
          %input.sign-in-right-top-body-form-password-input{autocomplete: "current-password", name: "session[password]", placeholder: "パスワード", type: "password"}/
          .sign-in-right-top-body-form-password-block-forget
            %a.sign-in-right-top-body-form-password-forget{href: "#"} パスワードを忘れた場合はこちら
        .sign-in-right-top-body-form-btn
          %input.sign-in-right-top-body-form-btn-input{type: "submit",value: "ログイン"}/


    .sign-in-right-center-body
      .sign-in-right-center-body-icon
      %h1
        %strong.sign-in-right-center-body-main 「いま」起きていることを見つけよう

      .sign-in-right-center-body-signup-form
        %strong.sign-in-right-center-body-instraction Twitterをはじめよう
        .sign-in-right-center-body-btn
          .sign-in-right-center-body-makeaccount
            %a{href: "#"} アカウント作成
          .sign-in-right-center-body-signin
            %a{href: "#"} ログイン



  .sign-in-footer
    %ul
      %li.sign-in-footer-list
        %a{href: "#"} Twitterについて
      %li.sign-in-footer-list
        %a{href: "#"} ヘルプセンター
      %li.sign-in-footer-list
        %a{href: "#"} ブログ
      %li.sign-in-footer-list
        %a{href: "#"} ステータス
      %li.sign-in-footer-list
        %a{href: "#"} 採用方法
      %li.sign-in-footer-list
        %a{href: "#"} 規約
      %li.sign-in-footer-list
        %a{href: "#"} プライバシーポリシー
      %li.sign-in-footer-list
        %a{href: "#"} クッキー
      %li.sign-in-footer-list
        %a{href: "#"} 広告について
      %li.sign-in-footer-list
        %a{href: "#"} ブランド
      %li.sign-in-footer-list
        %a{href: "#"} アプリ連携
      %li.sign-in-footer-list
        %a{href: "#"} 広告管理画面
      %li.sign-in-footer-list
        %a{href: "#"} マーケティング
      %li.sign-in-footer-list
        %a{href: "#"} 広告掲載方法
      %li.sign-in-footer-list
        %a{href: "#"} 開発者
      %li.sign-in-footer-list
        %a{href: "#"} プロフィール一覧
      %li.sign-in-footer-list
        %a{href: "#"} 設定
      %li.sign-in-footer-list © 2018 Twitter
