/ ----------------------------------------------------------------
= render "navbar"
/ ----------------------------------------------------------------
.wrapper
  .dashboard.row
    = render "userPanel"
    = render "timelinePanel"
    = render "recomendPanel"
