.profileEdit
  .profileEdit__header
    %a
      %img.profileEdit__header--back
    .profileEdit__header--title
    / .profileEdit__header--back
  %form.profileEdit__form
    %input.profileEdit__form__cover
    %input.profileEdit__form__avater
    %input.profileEdit__form__about
    %input.profileEdit__form__location
    %input.profileEdit__form__color
    %input.profileEdit__form__website
    %input.profileEdit__form__submit
