= render "partial/navbar"
= render "partial/searchBar",{keyword: params[:keyword]}
.wrapper
  .content.row
    .content-left.col-md-3.offset-md-1
      = render partial: "partial/recommend",collection: @recommends
    .content__timeline.col-md-8
      .row-eq-height.my-4
        - @users.each do |user|
          = render "partial/userCard" , {user: user}



