- 5.times do
  .card.my-2
    .card-body
      .tweet-header
        %h5.card-title User
        %h6.card-subtitle.mb-2.text-muted @Username
      .tweet-main
        %a.text-muted.card-link{href: "#"} ビューの作成中ビューの作成中ビューの作成中ビューの作成中ビューの作成中ビューの作成中ビューの作成中ビューの作成中ビューの作成中ビューの作成中ビューの作成中ビューの作成中ビューの作成中ビューの作成中ビューの作成中
      .tweet-media
      .tweet-bottom
        %i.fas.fa-reply
        %i.fas.fa-retweet
        %i.fas.fa-heart
        %i.fas.fa-envelope
