.wrapper.card.my-2
  .tweet.card-body.row
    .tweet__left.col-md-2
      .tweet__left--user-avatar
    .tweet__right.col-md-10
      .tweet__right--header
        %h5.card-title.d-inline
          = tweetList.name