%form.my-4.bg-light
  .form-group
    %label{:for => "exampleFormControlTextarea1"}
    %textarea#exampleFormControlTextarea1.form-control.col-md-10.offset-md-1{:placeholder => "いまどうしてる？", :rows => "3"}
  / %i.fas.fa-image
  / %i.fas.fa-map-marker-alt
  %button.col-md-2.offset-md-9.my-4.btn.btn-info{:type => "button"} Tweet
