.content-left.col-md-3.offset-md-1
  .card.my-4
    .card-body
      .body-top
        %img.rounded-top.card-img-top{alt: "user-cover-pic", src: "tweets/../../assets/header.png"}
        %img.card-img-top{alt: "user-avatar-pic", src: "tweets/../../assets/avator.jpg"}
        %h5.card-title User
        %h6.card-subtitle.mb-2.text-muted @Username
      .body-bottom.d-md-inline-flex
        %a.text-muted.card-link{href: "#"} ツイート：0
        %a.text-muted.card-link{href: "#"} フォロー：0
        %a.text-muted.card-link{href: "#"} フォロワー：0

