.header-pic{
  height: 350px;
  width: 100%;
}
.showCirclePosition{
  position: absolute;
  top:280px;
  left:150px;
  z-index:2;
}
.nav-link-word {
    padding: 0rem;
    font-size : 12px;
    font-weight: bold;
    text-align: center;
}
.nav-link-number {
    padding: 0rem;
    font-size : 18px;
    font-weight: bold;
    text-align: center;
}
.card-link-word {
    padding: 0rem;
    font-size : 12px;
    font-weight: bold;
}
.card-link-number {
    padding: 0rem;
    font-size : 18px;
    font-weight: bold;
    color: #1DA1F2 !important;
}
