.signupHeader{
  width: 100%;
  height: 50px;
  position: relative;

  .signupHeader__center{
    position: absolute;
    top: 5px;
    left: 48%;
  }
}

.signupMain__form{
  padding: 0 450px;

  .signupMain__form__instraction{
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
  }

  .cp_iptxt {
    width: 100%;
    padding: 10px 10px 10px 0;
  }

  .cp_iptxt input{
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3em;
    transition: 0.7s;
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid #1b2538;
    background: transparent;
  }

  .ef input:focus {
    border-bottom: 2px solid #1da1f2;
    outline: none;
  }

  .signupMain__form__btn{
    position: relative;

    .signupMain__form__submits{
    // margin-left: 90px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width:100%;
    height: 40px;
    padding: 6px 16px;
    margin-top:20px;
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
    display: block;
    margin-bottom: 16px;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    }
  }
}
