.displaynone{
  display: none;
}

.linkcolorblack{
  color: black;
}

.replyblue{
  color: #0cf;
}

a{
  text-decoration: none;
  color: gray;
}

.image_trimming{
  object-fit: cover;
}

li{
  list-style: none;
}
